/* Styles for larger screens */
@media (min-width: 600px) {
    nav ul li {
        margin-right: 2em;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 80%;
    }

    figure {
        width: 30%;
    }
}
